body{
    background-color: #B0B0B0;
    background-image: linear-gradient(rgb(255, 69, 13), rgb(251, 255, 1));
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    border: solid 1px #FFFFFF;
    border-bottom: solid 3px #333333;
    background-image: linear-gradient(#6100cf, #65e8ff);
    padding-bottom: 15px;
}

h1{
    font-size: 30px
}

nav{
    background-image: linear-gradient(rgba(49, 8, 230, 0.267), #42b3ff);
    padding: 5px
}

.link{ 
    background-color: #FFFFFF;
    color: #000000;
    padding: 3px;
    border: solid 1px #333333;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    border-radius: 15px 5px 15px 5px;
}

.link:hover{
    background-color: #333333;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    color: #FFFFFF;
}

.link_menu{
    background-color: #000000;
    color:#FFFFFF
}

section{
    background: #CE0E0E;
    background: -moz-linear-gradient(-45 graus, #CE0E0E 0%, #DC6F1A 61%, #FFDC13 100%);
    background: -webkit-linear-gradient(-45 graus, #CE0E0E 0%, #DC6F1A 61%, #FFDC13 100%);
    background: linear-gradient(to right, #CE0E0E 0%, #DC6F1A 61%, #FFDC13 100%);
    padding: 10px;
    margin-top: 14px;
}

p{
    text-align: justify;
}

footer{
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 25px;
}

.texto_sombra{
    text-shadow: 5px 4px 4px rgba(79,255,246,0.96);
}